In [ ]:
# importing libraries
import numpy as np
import pandas as pd

## Reading the Data

In [ ]:
from google.colab import files

uploaded = files.upload()

Saving Dataset for pandas.csv to Dataset for pandas (1).csv

In [ ]:

data = pd.read_csv('Dataset for pandas.csv')

In [ ]:
copy_data = data.copy()

In [ ]:
data

    Index   Age      Salary  Rating       Location  Established Easy Apply
0       0  44.0   $44k-$99k     5.4       India,In         1999       TRUE
1       1  66.0   $55k-$66k     3.5    New York,Ny         2002       TRUE
2       2   NaN   $77k-$89k    -1.0    New York,Ny           -1         -1
3       3  64.0   $44k-$99k     4.4       India In         1988         -1
4       4  25.0   $44k-$99k     6.4  Australia Aus         2002         -1
5       5  44.0   $77k-$89k     1.4       India,In         1999       TRUE
6       6  21.0   $44k-$99k     0.0    New York,Ny           -1         -1
7       7  44.0   $44k-$99k    -1.0  Australia Aus           -1         -1
8       8  35.0   $44k-$99k     5.4    New York,Ny           -1         -1
9       9  22.0   $44k-$99k     7.7       India,In           -1       TRUE
10     10  55.0   $10k-$49k     5.4       India,In         2008       TRUE
11     11  44.0   $10k-$49k     6.7       India,In         2009         -1
12     12   NaN   $44k-$99k     0.0       India,In         1999         -1
13     13  25.0   $44k-$99k    -1.0  Australia Aus         2019       TRUE
14     14  66.0   $44k-$99k     4.0  Australia Aus         2020       TRUE
15     15  44.0  $88k-$101k     3.0  Australia Aus         1999         -1
16     16  19.0   $19k-$40k     4.5       India,In         1984         -1
17     17   NaN   $44k-$99k     5.3    New York,Ny         1943       TRUE
18     18  35.0   $44k-$99k     6.7    New York,Ny         1954       TRUE
19     19  32.0   $44k-$99k     3.3    New York,Ny         1955       TRUE
20     20   NaN   $44k-$99k     5.7    New York,Ny         1944       TRUE
21     21  35.0   $44k-$99k     5.0    New York,Ny         1946         -1
22     22  19.0   $55k-$66k     7.8    New York,Ny         1988       TRUE
23     23   NaN   $44k-$99k     2.4    New York,Ny         1999       TRUE
24     24  13.0   $44k-$99k    -1.0    New York,Ny         1987         -1
25     25  55.0   $44k-$99k     0.0  Australia Aus         1980       TRUE
26     26   NaN   $55k-$66k     NaN       India,In         1934       TRUE
27     27  52.0   $44k-$99k     5.4       India,In         1935         -1
28     28   NaN   $39k-$88k     3.4  Australia Aus         1932         -1

In [ ]:
data.head()

   Index   Age     Salary  Rating       Location  Established Easy Apply
0      0  44.0  $44k-$99k     5.4       India,In         1999       TRUE
1      1  66.0  $55k-$66k     3.5    New York,Ny         2002       TRUE
2      2   NaN  $77k-$89k    -1.0    New York,Ny           -1         -1
3      3  64.0  $44k-$99k     4.4       India In         1988         -1
4      4  25.0  $44k-$99k     6.4  Australia Aus         2002         -1

In [ ]:
data.tail()

    Index   Age     Salary  Rating       Location  Established Easy Apply
24     24  13.0  $44k-$99k    -1.0    New York,Ny         1987         -1
25     25  55.0  $44k-$99k     0.0  Australia Aus         1980       TRUE
26     26   NaN  $55k-$66k     NaN       India,In         1934       TRUE
27     27  52.0  $44k-$99k     5.4       India,In         1935         -1
28     28   NaN  $39k-$88k     3.4  Australia Aus         1932         -1

In [ ]:
data.shape

(29, 7)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Index        29 non-null     int64
 1   Age          22 non-null     float64
 2   Salary       29 non-null     object
 3   Rating       28 non-null     float64
 4   Location     29 non-null     object
 5   Established  29 non-null     int64
 6   Easy Apply   29 non-null     object
dtypes: float64(2), int64(2), object(3)
memory usage: 1.7+ KB

In [ ]:
data.isnull()

    Index    Age  Salary  Rating  Location  Established  Easy Apply
0   False  False   False   False     False        False       False
1   False  False   False   False     False        False       False
2   False   True   False   False     False        False       False
3   False  False   False   False     False        False       False
4   False  False   False   False     False        False       False
5   False  False   False   False     False        False       False
6   False  False   False   False     False        False       False
7   False  False   False   False     False        False       False
8   False  False   False   False     False        False       False
9   False  False   False   False     False        False       False
10  False  False   False   False     False        False       False
11  False  False   False   False     False        False       False
12  False   True   False   False     False        False       False
13  False  False   False   False     False        False       False
14  False  False   False   False     False        False       False
15  False  False   False   False     False        False       False
16  False  False   False   False     False        False       False
17  False   True   False   False     False        False       False
18  False  False   False   False     False        False       False
19  False  False   False   False     False        False       False
20  False   True   False   False     False        False       False
21  False  False   False   False     False        False       False
22  False  False   False   False     False        False       False
23  False   True   False   False     False        False       False
24  False  False   False   False     False        False       False
25  False  False   False   False     False        False       False
26  False   True   False    True     False        False       False
27  False  False   False   False     False        False       False
28  False   True   False   False     False        False       False

1. DEALING WITH MISSING VALUES IN THE DATASET

In [ ]:
data.isnull().sum()

Index          0
Age            7
Salary         0
Rating         1
Location       0
Established    0
Easy Apply     0
dtype: int64

Age has 7 missing values and rating has 1 missing value. Lets replace the age and the rating with its average value.

In [ ]:
mean = data['Age'].mean()
print(mean)

39.04545454545455

In [ ]:
data_imputed_mean = data.fillna(data.mean())

<ipython-input-18-b4f76e0d148b>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data_imputed_mean = data.fillna(data.mean())

In [ ]:
data_imputed_mean

,Index,Age,Salary,Rating,Location,Established,Easy Apply
0,0,44.000000,$44k-$99k,5.400000,"India,In",1999,TRUE
1,1,66.000000,$55k-$66k,3.500000,"New York,Ny",2002,TRUE
2,2,39.045455,$77k-$89k,-1.000000,"New York,Ny",-1,-1
3,3,64.000000,$44k-$99k,4.400000,India In,1988,-1
4,4,25.000000,$44k-$99k,6.400000,Australia Aus,2002,-1
5,5,44.000000,$77k-$89k,1.400000,"India,In",1999,TRUE
6,6,21.000000,$44k-$99k,0.000000,"New York,Ny",-1,-1
7,7,44.000000,$44k-$99k,-1.000000,Australia Aus,-1,-1
8,8,35.000000,$44k-$99k,5.400000,"New York,Ny",-1,-1
9,9,22.000000,$44k-$99k,7.700000,"India,In",-1,TRUE
10,10,55.000000,$10k-$49k,5.400000,"India,In",2008,TRUE
11,11,44.000000,$10k-$49k,6.700000,"India,In",2009,-1
12,12,39.045455,$44k-$99k,0.000000,"India,In",1999,-1
13,13,25.000000,$44k-$99k,-1.000000,Australia Aus,2019,TRUE
14,14,66.000000,$44k-$99k,4.000000,Australia Aus,2020,TRUE
15,15,44.000000,$88k-$101k,3.000000,Australia Aus,1999,-1
16,16,19.000000,$19k-$40k,4.500000,"India,In",1984,-1
17,17,39.045455,$44k-$99k,5.300000,"New York,Ny",1943,TRUE
18,18,35.000000,$44k-$99k,6.700000,"New York,Ny",1954,TRUE
19,19,32.000000,$44k-$99k,3.300000,"New York,Ny",1955,TRUE
20,20,39.045455,$44k-$99k,5.700000,"New York,Ny",1944,TRUE
21,21,35.000000,$44k-$99k,5.000000,"New York,Ny",1946,-1
22,22,19.000000,$55k-$66k,7.800000,"New York,Ny",1988,TRUE
23,23,39.045455,$44k-$99k,2.400000,"New York,Ny",1999,TRUE
24,24,13.000000,$44k-$99k,-1.000000,"New York,Ny",1987,-1
25,25,55.000000,$44k-$99k,0.000000,Australia Aus,1980,TRUE
26,26,39.045455,$55k-$66k,3.528571,"India,In",1934,TRUE
27,27,52.000000,$44k-$99k,5.400000,"India,In",1935,-1
28,28,39.045455,$39k-$88k,3.400000,Australia Aus,1932,-1

Lets convert the age column from float to int in order to avoid decimal values.

In [ ]:
data_imputed_mean['Age'] = data_imputed_mean['Age'].astype(int)
print(data_imputed_mean)

    Index  Age      Salary    Rating       Location  Established Easy Apply
0       0   44   $44k-$99k  5.400000       India,In         1999       TRUE
1       1   66   $55k-$66k  3.500000    New York,Ny         2002       TRUE
2       2   39   $77k-$89k -1.000000    New York,Ny           -1         -1
3       3   64   $44k-$99k  4.400000       India In         1988         -1
4       4   25   $44k-$99k  6.400000  Australia Aus         2002         -1
5       5   44   $77k-$89k  1.400000       India,In         1999       TRUE
6       6   21   $44k-$99k  0.000000    New York,Ny           -1         -1
7       7   44   $44k-$99k -1.000000  Australia Aus           -1         -1
8       8   35   $44k-$99k  5.400000    New York,Ny           -1         -1
9       9   22   $44k-$99k  7.700000       India,In           -1       TRUE
10     10   55   $10k-$49k  5.400000       India,In         2008       TRUE
11     11   44   $10k-$49k  6.700000       India,In         2009         -1
12     12   39   $44k-$99k  0.000000       India,In         1999         -1
13     13   25   $44k-$99k -1.000000  Australia Aus         2019       TRUE
14     14   66   $44k-$99k  4.000000  Australia Aus         2020       TRUE
15     15   44  $88k-$101k  3.000000  Australia Aus         1999         -1
16     16   19   $19k-$40k  4.500000       India,In         1984         -1
17     17   39   $44k-$99k  5.300000    New York,Ny         1943       TRUE
18     18   35   $44k-$99k  6.700000    New York,Ny         1954       TRUE
19     19   32   $44k-$99k  3.300000    New York,Ny         1955       TRUE
20     20   39   $44k-$99k  5.700000    New York,Ny         1944       TRUE
21     21   35   $44k-$99k  5.000000    New York,Ny         1946         -1
22     22   19   $55k-$66k  7.800000    New York,Ny         1988       TRUE
23     23   39   $44k-$99k  2.400000    New York,Ny         1999       TRUE
24     24   13   $44k-$99k -1.000000    New York,Ny         1987         -1
25     25   55   $44k-$99k  0.000000  Australia Aus         1980       TRUE
26     26   39   $55k-$66k  3.528571       India,In         1934       TRUE
27     27   52   $44k-$99k  5.400000       India,In         1935         -1
28     28   39   $39k-$88k  3.400000  Australia Aus         1932         -1

In [ ]:
data_imputed_mean['Rating'] = data_imputed_mean['Rating'].astype(int)
print(data_imputed_mean)

    Index  Age      Salary  Rating       Location  Established Easy Apply
0       0   44   $44k-$99k       5       India,In         1999       TRUE
1       1   66   $55k-$66k       3    New York,Ny         2002       TRUE
2       2   39   $77k-$89k      -1    New York,Ny           -1         -1
3       3   64   $44k-$99k       4       India In         1988         -1
4       4   25   $44k-$99k       6  Australia Aus         2002         -1
5       5   44   $77k-$89k       1       India,In         1999       TRUE
6       6   21   $44k-$99k       0    New York,Ny           -1         -1
7       7   44   $44k-$99k      -1  Australia Aus           -1         -1
8       8   35   $44k-$99k       5    New York,Ny           -1         -1
9       9   22   $44k-$99k       7       India,In           -1       TRUE
10     10   55   $10k-$49k       5       India,In         2008       TRUE
11     11   44   $10k-$49k       6       India,In         2009         -1
12     12   39   $44k-$99k       0       India,In         1999         -1
13     13   25   $44k-$99k      -1  Australia Aus         2019       TRUE
14     14   66   $44k-$99k       4  Australia Aus         2020       TRUE
15     15   44  $88k-$101k       3  Australia Aus         1999         -1
16     16   19   $19k-$40k       4       India,In         1984         -1
17     17   39   $44k-$99k       5    New York,Ny         1943       TRUE
18     18   35   $44k-$99k       6    New York,Ny         1954       TRUE
19     19   32   $44k-$99k       3    New York,Ny         1955       TRUE
20     20   39   $44k-$99k       5    New York,Ny         1944       TRUE
21     21   35   $44k-$99k       5    New York,Ny         1946         -1
22     22   19   $55k-$66k       7    New York,Ny         1988       TRUE
23     23   39   $44k-$99k       2    New York,Ny         1999       TRUE
24     24   13   $44k-$99k      -1    New York,Ny         1987         -1
25     25   55   $44k-$99k       0  Australia Aus         1980       TRUE
26     26   39   $55k-$66k       3       India,In         1934       TRUE
27     27   52   $44k-$99k       5       India,In         1935         -1
28     28   39   $39k-$88k       3  Australia Aus         1932         -1

In [ ]:
data_imputed_mean.isnull().sum()

Index          0
Age            0
Salary         0
Rating         0
Location       0
Established    0
Easy Apply     0
dtype: int64

All the missing values have been dealt in the data set.

2. CHECKING IF THE DATA TYPES ALIGN WITH THE PARTICULAR COLUMN.

In [ ]:
data_imputed_mean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Index        29 non-null     int64
 1   Age          29 non-null     int64
 2   Salary       29 non-null     object
 3   Rating       29 non-null     int64
 4   Location     29 non-null     object
 5   Established  29 non-null     int64
 6   Easy Apply   29 non-null     object
dtypes: int64(4), object(3)
memory usage: 1.7+ KB

Few datatypes need to be changed, and the data set is formatted further in the end of the file.

In [ ]:


data_imputed_mean['Salary'] = data_imputed_mean['Salary'].str.replace('k', '000')
data_imputed_mean

    Index  Age          Salary  Rating       Location  Established Easy Apply
0       0   44   $44000-$99000       5       India,In         1999       TRUE
1       1   66   $55000-$66000       3    New York,Ny         2002       TRUE
2       2   39   $77000-$89000      -1    New York,Ny           -1         -1
3       3   64   $44000-$99000       4       India In         1988         -1
4       4   25   $44000-$99000       6  Australia Aus         2002         -1
5       5   44   $77000-$89000       1       India,In         1999       TRUE
6       6   21   $44000-$99000       0    New York,Ny           -1         -1
7       7   44   $44000-$99000      -1  Australia Aus           -1         -1
8       8   35   $44000-$99000       5    New York,Ny           -1         -1
9       9   22   $44000-$99000       7       India,In           -1       TRUE
10     10   55   $10000-$49000       5       India,In         2008       TRUE
11     11   44   $10000-$49000       6       India,In         2009         -1
12     12   39   $44000-$99000       0       India,In         1999         -1
13     13   25   $44000-$99000      -1  Australia Aus         2019       TRUE
14     14   66   $44000-$99000       4  Australia Aus         2020       TRUE
15     15   44  $88000-$101000       3  Australia Aus         1999         -1
16     16   19   $19000-$40000       4       India,In         1984         -1
17     17   39   $44000-$99000       5    New York,Ny         1943       TRUE
18     18   35   $44000-$99000       6    New York,Ny         1954       TRUE
19     19   32   $44000-$99000       3    New York,Ny         1955       TRUE
20     20   39   $44000-$99000       5    New York,Ny         1944       TRUE
21     21   35   $44000-$99000       5    New York,Ny         1946         -1
22     22   19   $55000-$66000       7    New York,Ny         1988       TRUE
23     23   39   $44000-$99000       2    New York,Ny         1999       TRUE
24     24   13   $44000-$99000      -1    New York,Ny         1987         -1
25     25   55   $44000-$99000       0  Australia Aus         1980       TRUE
26     26   39   $55000-$66000       3       India,In         1934       TRUE
27     27   52   $44000-$99000       5       India,In         1935         -1
28     28   39   $39000-$88000       3  Australia Aus         1932         -1

In [ ]:
data_imputed_mean['Salary'] = data_imputed_mean['Salary'].str.replace('$', '')
data_imputed_mean

<ipython-input-25-30fab84a9780>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data_imputed_mean['Salary'] = data_imputed_mean['Salary'].str.replace('$', '')

    Index  Age        Salary  Rating       Location  Established Easy Apply
0       0   44   44000-99000       5       India,In         1999       TRUE
1       1   66   55000-66000       3    New York,Ny         2002       TRUE
2       2   39   77000-89000      -1    New York,Ny           -1         -1
3       3   64   44000-99000       4       India In         1988         -1
4       4   25   44000-99000       6  Australia Aus         2002         -1
5       5   44   77000-89000       1       India,In         1999       TRUE
6       6   21   44000-99000       0    New York,Ny           -1         -1
7       7   44   44000-99000      -1  Australia Aus           -1         -1
8       8   35   44000-99000       5    New York,Ny           -1         -1
9       9   22   44000-99000       7       India,In           -1       TRUE
10     10   55   10000-49000       5       India,In         2008       TRUE
11     11   44   10000-49000       6       India,In         2009         -1
12     12   39   44000-99000       0       India,In         1999         -1
13     13   25   44000-99000      -1  Australia Aus         2019       TRUE
14     14   66   44000-99000       4  Australia Aus         2020       TRUE
15     15   44  88000-101000       3  Australia Aus         1999         -1
16     16   19   19000-40000       4       India,In         1984         -1
17     17   39   44000-99000       5    New York,Ny         1943       TRUE
18     18   35   44000-99000       6    New York,Ny         1954       TRUE
19     19   32   44000-99000       3    New York,Ny         1955       TRUE
20     20   39   44000-99000       5    New York,Ny         1944       TRUE
21     21   35   44000-99000       5    New York,Ny         1946         -1
22     22   19   55000-66000       7    New York,Ny         1988       TRUE
23     23   39   44000-99000       2    New York,Ny         1999       TRUE
24     24   13   44000-99000      -1    New York,Ny         1987         -1
25     25   55   44000-99000       0  Australia Aus         1980       TRUE
26     26   39   55000-66000       3       India,In         1934       TRUE
27     27   52   44000-99000       5       India,In         1935         -1
28     28   39   39000-88000       3  Australia Aus         1932         -1

In [ ]:
data_imputed_mean['Rating'] = data_imputed_mean['Rating'].round(1)
data_imputed_mean

    Index  Age        Salary  Rating       Location  Established Easy Apply
0       0   44   44000-99000       5       India,In         1999       TRUE
1       1   66   55000-66000       3    New York,Ny         2002       TRUE
2       2   39   77000-89000      -1    New York,Ny           -1         -1
3       3   64   44000-99000       4       India In         1988         -1
4       4   25   44000-99000       6  Australia Aus         2002         -1
5       5   44   77000-89000       1       India,In         1999       TRUE
6       6   21   44000-99000       0    New York,Ny           -1         -1
7       7   44   44000-99000      -1  Australia Aus           -1         -1
8       8   35   44000-99000       5    New York,Ny           -1         -1
9       9   22   44000-99000       7       India,In           -1       TRUE
10     10   55   10000-49000       5       India,In         2008       TRUE
11     11   44   10000-49000       6       India,In         2009         -1
12     12   39   44000-99000       0       India,In         1999         -1
13     13   25   44000-99000      -1  Australia Aus         2019       TRUE
14     14   66   44000-99000       4  Australia Aus         2020       TRUE
15     15   44  88000-101000       3  Australia Aus         1999         -1
16     16   19   19000-40000       4       India,In         1984         -1
17     17   39   44000-99000       5    New York,Ny         1943       TRUE
18     18   35   44000-99000       6    New York,Ny         1954       TRUE
19     19   32   44000-99000       3    New York,Ny         1955       TRUE
20     20   39   44000-99000       5    New York,Ny         1944       TRUE
21     21   35   44000-99000       5    New York,Ny         1946         -1
22     22   19   55000-66000       7    New York,Ny         1988       TRUE
23     23   39   44000-99000       2    New York,Ny         1999       TRUE
24     24   13   44000-99000      -1    New York,Ny         1987         -1
25     25   55   44000-99000       0  Australia Aus         1980       TRUE
26     26   39   55000-66000       3       India,In         1934       TRUE
27     27   52   44000-99000       5       India,In         1935         -1
28     28   39   39000-88000       3  Australia Aus         1932         -1

3. IDENTIFYING OUTLIERS IN VARIOUS COLUMNS.

To determine the outliers, 1st quartile and 3rd quartile needs to be calculated, interquartile range = q3 - q1. With the help of which lower fence and upper fence of the data will be calculated, anything which lies outside of that range is considered as an outlier.

In [ ]:

Q1 = data_imputed_mean['Age'].quantile(0.25)
Q3 = data_imputed_mean['Age'].quantile(0.75)
IQR = Q3 - Q1

threshold = 1.5

outliers = data_imputed_mean[(data_imputed_mean['Age'] < Q1 - threshold * IQR) | (data_imputed_mean['Age'] > Q3 + threshold * IQR)]
outliers

    Index  Age       Salary  Rating       Location  Established Easy Apply
1       1   66  55000-66000       3    New York,Ny         2002       TRUE
3       3   64  44000-99000       4       India In         1988         -1
14     14   66  44000-99000       4  Australia Aus         2020       TRUE
24     24   13  44000-99000      -1    New York,Ny         1987         -1

Outliers in the Rating column are checked as follows and apparently none was found.

In [ ]:
Q1 = data_imputed_mean['Rating'].quantile(0.25)
Q3 = data_imputed_mean['Rating'].quantile(0.75)
IQR = Q3 - Q1

threshold = 1.5

outliers = data_imputed_mean[(data_imputed_mean['Rating'] < Q1 - threshold * IQR) | (data_imputed_mean['Rating'] > Q3 + threshold * IQR)]
outliers

Empty DataFrame
Columns: [Index, Age, Salary, Rating, Location, Established, Easy Apply]
Index: []

4. LOCATION STANDARDISATION

In [ ]:
data_imputed_mean['Location'] = data_imputed_mean['Location'].replace({'New York,Ny':'New York', 'India,In':'India','India In':'India', 'Australia Aus':'Australia'})
data_imputed_mean

    Index  Age        Salary  Rating   Location  Established Easy Apply
0       0   44   44000-99000       5      India         1999       TRUE
1       1   66   55000-66000       3   New York         2002       TRUE
2       2   39   77000-89000      -1   New York           -1         -1
3       3   64   44000-99000       4      India         1988         -1
4       4   25   44000-99000       6  Australia         2002         -1
5       5   44   77000-89000       1      India         1999       TRUE
6       6   21   44000-99000       0   New York           -1         -1
7       7   44   44000-99000      -1  Australia           -1         -1
8       8   35   44000-99000       5   New York           -1         -1
9       9   22   44000-99000       7      India           -1       TRUE
10     10   55   10000-49000       5      India         2008       TRUE
11     11   44   10000-49000       6      India         2009         -1
12     12   39   44000-99000       0      India         1999         -1
13     13   25   44000-99000      -1  Australia         2019       TRUE
14     14   66   44000-99000       4  Australia         2020       TRUE
15     15   44  88000-101000       3  Australia         1999         -1
16     16   19   19000-40000       4      India         1984         -1
17     17   39   44000-99000       5   New York         1943       TRUE
18     18   35   44000-99000       6   New York         1954       TRUE
19     19   32   44000-99000       3   New York         1955       TRUE
20     20   39   44000-99000       5   New York         1944       TRUE
21     21   35   44000-99000       5   New York         1946         -1
22     22   19   55000-66000       7   New York         1988       TRUE
23     23   39   44000-99000       2   New York         1999       TRUE
24     24   13   44000-99000      -1   New York         1987         -1
25     25   55   44000-99000       0  Australia         1980       TRUE
26     26   39   55000-66000       3      India         1934       TRUE
27     27   52   44000-99000       5      India         1935         -1
28     28   39   39000-88000       3  Australia         1932         -1

5. EXPLORING ESTABLISHMENTS COLUMN

In [ ]:
median = data_imputed_mean['Established'].median()
median

1984.0

In [ ]:
data_imputed_mean['Established'] = data_imputed_mean['Established'].replace(-1, median)
print(data_imputed_mean)

    Index  Age        Salary  Rating   Location  Established Easy Apply
0       0   44   44000-99000       5      India         1999       TRUE
1       1   66   55000-66000       3   New York         2002       TRUE
2       2   39   77000-89000      -1   New York         1984         -1
3       3   64   44000-99000       4      India         1988         -1
4       4   25   44000-99000       6  Australia         2002         -1
5       5   44   77000-89000       1      India         1999       TRUE
6       6   21   44000-99000       0   New York         1984         -1
7       7   44   44000-99000      -1  Australia         1984         -1
8       8   35   44000-99000       5   New York         1984         -1
9       9   22   44000-99000       7      India         1984       TRUE
10     10   55   10000-49000       5      India         2008       TRUE
11     11   44   10000-49000       6      India         2009         -1
12     12   39   44000-99000       0      India         1999         -1
13     13   25   44000-99000      -1  Australia         2019       TRUE
14     14   66   44000-99000       4  Australia         2020       TRUE
15     15   44  88000-101000       3  Australia         1999         -1
16     16   19   19000-40000       4      India         1984         -1
17     17   39   44000-99000       5   New York         1943       TRUE
18     18   35   44000-99000       6   New York         1954       TRUE
19     19   32   44000-99000       3   New York         1955       TRUE
20     20   39   44000-99000       5   New York         1944       TRUE
21     21   35   44000-99000       5   New York         1946         -1
22     22   19   55000-66000       7   New York         1988       TRUE
23     23   39   44000-99000       2   New York         1999       TRUE
24     24   13   44000-99000      -1   New York         1987         -1
25     25   55   44000-99000       0  Australia         1980       TRUE
26     26   39   55000-66000       3      India         1934       TRUE
27     27   52   44000-99000       5      India         1935         -1
28     28   39   39000-88000       3  Australia         1932         -1

6.
CHECKING THE EASY APPLY COLUMN

Some inconsistencies are found in the data which demand for the replacement of -1 with false in order to convert the column to boolean values only.

In [ ]:
data_imputed_mean['Easy Apply'] = data_imputed_mean['Easy Apply'].replace('-1','FALSE')
data_imputed_mean

    Index  Age        Salary  Rating   Location  Established Easy Apply
0       0   44   44000-99000       5      India         1999       TRUE
1       1   66   55000-66000       3   New York         2002       TRUE
2       2   39   77000-89000      -1   New York         1984      FALSE
3       3   64   44000-99000       4      India         1988      FALSE
4       4   25   44000-99000       6  Australia         2002      FALSE
5       5   44   77000-89000       1      India         1999       TRUE
6       6   21   44000-99000       0   New York         1984      FALSE
7       7   44   44000-99000      -1  Australia         1984      FALSE
8       8   35   44000-99000       5   New York         1984      FALSE
9       9   22   44000-99000       7      India         1984       TRUE
10     10   55   10000-49000       5      India         2008       TRUE
11     11   44   10000-49000       6      India         2009      FALSE
12     12   39   44000-99000       0      India         1999      FALSE
13     13   25   44000-99000      -1  Australia         2019       TRUE
14     14   66   44000-99000       4  Australia         2020       TRUE
15     15   44  88000-101000       3  Australia         1999      FALSE
16     16   19   19000-40000       4      India         1984      FALSE
17     17   39   44000-99000       5   New York         1943       TRUE
18     18   35   44000-99000       6   New York         1954       TRUE
19     19   32   44000-99000       3   New York         1955       TRUE
20     20   39   44000-99000       5   New York         1944       TRUE
21     21   35   44000-99000       5   New York         1946      FALSE
22     22   19   55000-66000       7   New York         1988       TRUE
23     23   39   44000-99000       2   New York         1999       TRUE
24     24   13   44000-99000      -1   New York         1987      FALSE
25     25   55   44000-99000       0  Australia         1980       TRUE
26     26   39   55000-66000       3      India         1934       TRUE
27     27   52   44000-99000       5      India         1935      FALSE
28     28   39   39000-88000       3  Australia         1932      FALSE

7. ENSURING A CONSISTENT RATING SCALE

A consistent rating scale will ensure a more understandable rating, the scale is from 1 to 10.

In [ ]:
mapping = {-1:1, 0:1, 1:3, 2:4, 3:5, 4:6, 5:7, 6:8, 7:9, 8:10 }
data_imputed_mean['Rating'] = data_imputed_mean['Rating'].replace(mapping)
data_imputed_mean

    Index  Age        Salary  Rating   Location  Established Easy Apply
0       0   44   44000-99000       7      India         1999       TRUE
1       1   66   55000-66000       5   New York         2002       TRUE
2       2   39   77000-89000       1   New York         1984      FALSE
3       3   64   44000-99000       6      India         1988      FALSE
4       4   25   44000-99000       8  Australia         2002      FALSE
5       5   44   77000-89000       3      India         1999       TRUE
6       6   21   44000-99000       1   New York         1984      FALSE
7       7   44   44000-99000       1  Australia         1984      FALSE
8       8   35   44000-99000       7   New York         1984      FALSE
9       9   22   44000-99000       9      India         1984       TRUE
10     10   55   10000-49000       7      India         2008       TRUE
11     11   44   10000-49000       8      India         2009      FALSE
12     12   39   44000-99000       1      India         1999      FALSE
13     13   25   44000-99000       1  Australia         2019       TRUE
14     14   66   44000-99000       6  Australia         2020       TRUE
15     15   44  88000-101000       5  Australia         1999      FALSE
16     16   19   19000-40000       6      India         1984      FALSE
17     17   39   44000-99000       7   New York         1943       TRUE
18     18   35   44000-99000       8   New York         1954       TRUE
19     19   32   44000-99000       5   New York         1955       TRUE
20     20   39   44000-99000       7   New York         1944       TRUE
21     21   35   44000-99000       7   New York         1946      FALSE
22     22   19   55000-66000       9   New York         1988       TRUE
23     23   39   44000-99000       4   New York         1999       TRUE
24     24   13   44000-99000       1   New York         1987      FALSE
25     25   55   44000-99000       1  Australia         1980       TRUE
26     26   39   55000-66000       5      India         1934       TRUE
27     27   52   44000-99000       7      India         1935      FALSE
28     28   39   39000-88000       5  Australia         1932      FALSE

8. FURTHER FORMATTING THE SALARY COLUMN

The salary column is of datatype obj which will be removed, and 3  columns for lower bound, upper bound and the average salary would be added to make our data more convinient to understand.

In [ ]:

data_imputed_mean[['Lower bound salary', 'Upper bound salary']] = data_imputed_mean['Salary'].str.split('-', expand=True)

data_imputed_mean['Lower bound salary'] = data_imputed_mean['Lower bound salary'].astype(int)
data_imputed_mean['Upper bound salary'] = data_imputed_mean['Upper bound salary'].astype(int)

data_imputed_mean['Average Salary'] = (data_imputed_mean['Lower bound salary'] + data_imputed_mean['Upper bound salary']) / 2

data_imputed_mean

,Index,Age,Salary,Rating,Location,Established,Easy Apply,Lower bound salary,Upper bound salary,Average Salary
0,0,44,44000-99000,7,India,1999,TRUE,44000,99000,71500.0
1,1,66,55000-66000,5,New York,2002,TRUE,55000,66000,60500.0
2,2,39,77000-89000,1,New York,1984,FALSE,77000,89000,83000.0
3,3,64,44000-99000,6,India,1988,FALSE,44000,99000,71500.0
4,4,25,44000-99000,8,Australia,2002,FALSE,44000,99000,71500.0
5,5,44,77000-89000,3,India,1999,TRUE,77000,89000,83000.0
6,6,21,44000-99000,1,New York,1984,FALSE,44000,99000,71500.0
7,7,44,44000-99000,1,Australia,1984,FALSE,44000,99000,71500.0
8,8,35,44000-99000,7,New York,1984,FALSE,44000,99000,71500.0
9,9,22,44000-99000,9,India,1984,TRUE,44000,99000,71500.0
10,10,55,10000-49000,7,India,2008,TRUE,10000,49000,29500.0
11,11,44,10000-49000,8,India,2009,FALSE,10000,49000,29500.0
12,12,39,44000-99000,1,India,1999,FALSE,44000,99000,71500.0
13,13,25,44000-99000,1,Australia,2019,TRUE,44000,99000,71500.0
14,14,66,44000-99000,6,Australia,2020,TRUE,44000,99000,71500.0
15,15,44,88000-101000,5,Australia,1999,FALSE,88000,101000,94500.0
16,16,19,19000-40000,6,India,1984,FALSE,19000,40000,29500.0
17,17,39,44000-99000,7,New York,1943,TRUE,44000,99000,71500.0
18,18,35,44000-99000,8,New York,1954,TRUE,44000,99000,71500.0
19,19,32,44000-99000,5,New York,1955,TRUE,44000,99000,71500.0
20,20,39,44000-99000,7,New York,1944,TRUE,44000,99000,71500.0
21,21,35,44000-99000,7,New York,1946,FALSE,44000,99000,71500.0
22,22,19,55000-66000,9,New York,1988,TRUE,55000,66000,60500.0
23,23,39,44000-99000,4,New York,1999,TRUE,44000,99000,71500.0
24,24,13,44000-99000,1,New York,1987,FALSE,44000,99000,71500.0
25,25,55,44000-99000,1,Australia,1980,TRUE,44000,99000,71500.0
26,26,39,55000-66000,5,India,1934,TRUE,55000,66000,60500.0
27,27,52,44000-99000,7,India,1935,FALSE,44000,99000,71500.0
28,28,39,39000-88000,5,Australia,1932,FALSE,39000,88000,63500.0

In [ ]:

data_imputed_mean.drop(['Salary'], axis=1, inplace=True)

In [ ]:
data_imputed_mean

,Index,Age,Rating,Location,Established,Easy Apply,Lower bound salary,Upper bound salary,Average Salary
0,0,44,7,India,1999,TRUE,44000,99000,71500.0
1,1,66,5,New York,2002,TRUE,55000,66000,60500.0
2,2,39,1,New York,1984,FALSE,77000,89000,83000.0
3,3,64,6,India,1988,FALSE,44000,99000,71500.0
4,4,25,8,Australia,2002,FALSE,44000,99000,71500.0
5,5,44,3,India,1999,TRUE,77000,89000,83000.0
6,6,21,1,New York,1984,FALSE,44000,99000,71500.0
7,7,44,1,Australia,1984,FALSE,44000,99000,71500.0
8,8,35,7,New York,1984,FALSE,44000,99000,71500.0
9,9,22,9,India,1984,TRUE,44000,99000,71500.0
10,10,55,7,India,2008,TRUE,10000,49000,29500.0
11,11,44,8,India,2009,FALSE,10000,49000,29500.0
12,12,39,1,India,1999,FALSE,44000,99000,71500.0
13,13,25,1,Australia,2019,TRUE,44000,99000,71500.0
14,14,66,6,Australia,2020,TRUE,44000,99000,71500.0
15,15,44,5,Australia,1999,FALSE,88000,101000,94500.0
16,16,19,6,India,1984,FALSE,19000,40000,29500.0
17,17,39,7,New York,1943,TRUE,44000,99000,71500.0
18,18,35,8,New York,1954,TRUE,44000,99000,71500.0
19,19,32,5,New York,1955,TRUE,44000,99000,71500.0
20,20,39,7,New York,1944,TRUE,44000,99000,71500.0
21,21,35,7,New York,1946,FALSE,44000,99000,71500.0
22,22,19,9,New York,1988,TRUE,55000,66000,60500.0
23,23,39,4,New York,1999,TRUE,44000,99000,71500.0
24,24,13,1,New York,1987,FALSE,44000,99000,71500.0
25,25,55,1,Australia,1980,TRUE,44000,99000,71500.0
26,26,39,5,India,1934,TRUE,55000,66000,60500.0
27,27,52,7,India,1935,FALSE,44000,99000,71500.0
28,28,39,5,Australia,1932,FALSE,39000,88000,63500.0

Checking the data info once again.

In [ ]:
data_imputed_mean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Index               29 non-null     int64
 1   Age                 29 non-null     int64
 2   Rating              29 non-null     int64
 3   Location            29 non-null     object
 4   Established         29 non-null     int64
 5   Easy Apply          29 non-null     object
 6   Lower bound salary  29 non-null     int64
 7   Upper bound salary  29 non-null     int64
 8   Average Salary      29 non-null     float64
dtypes: float64(1), int64(6), object(2)
memory usage: 2.2+ KB

Changing data types of Location and Easy Apply

In [ ]:
data_imputed_mean['Location'] = data_imputed_mean['Location'].astype(str)

In [ ]:

data_imputed_mean['Easy Apply'] = data_imputed_mean['Easy Apply'].astype(bool)

The dataset has been successfully cleaned and manipulated.